body{
  background-color: #9411C2;
  display: flex;
  justify-content: center;
}
#formulario{
    width: 400px;
    background-color: #ffffff;
    padding: 30px 20px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px  #0000003d;
  }
h1{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: bolder;
  padding-bottom: 35px;
}
#components-form-demo-normal-login .login-form {
    width: 300px;
  }
#components-form-demo-normal-login .login-form-forgot {
    float: right;
  }
#components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
    float: left;
  }
#components-form-demo-normal-login .login-form-button {
    width: 100%;
    
  }